@import "../../../styles/constants";
@import "../../../styles/mixins";

.form__error {
  display: inline-block;
  text-align: center;
  font-size: map-get($font-size, xs);
  visibility: hidden;
  color: $color-font-error;
  transition: $transition;

  &--active {
    visibility: visible;
  }
}
