@import "../../styles/constants";

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: $background-image-accent;
  color: $color-font-light-regular;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  margin: 10px 0;
  font-size: map-get($font-size, s);
  cursor: default;
}

.footer__developer {
  padding-bottom: 3px;
  display: inline-block;
  color: $color-font-light-regular;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $color-font-dark-regular;
  }
}
