@import "../../styles/constants";
@import "../../styles/mixins";

.not-found {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-font-dark-regular;
}

.not-found__img {
  width: 60%;
  object-fit: cover;
  transition: $transition;

  @include media-xl {
    width: 80%;
  }

  @include media-md {
    width: 100%;
    height: 70%;
  }

  @include media-sm {
    width: 100%;
    height: 55%;
  }
}
